@import '_global';

.error {
    position: relative;

    &__content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        @include transform(translateY(-50%));
    }

    &__title {
        padding-top: 96px;
        background: url('/lms/assets/images/ico_warning.svg') no-repeat top center/ 56px auto;
        font-size: $font_size_h1;
        font-weight: 700;
        color: $color_gray_700;
        text-align: center;
        line-height: ceil(($font_size_h1 * 1.56));
    }

    &__txt {
        font-size: $font_size_h3;
        color: $color_gray_700;
        text-align: center;
        line-height: 1.5;
    }
}