@import '_global';

.change-password {
    &__txt {
        margin: 0 24px 0 25px;
        font-size: $font_size_base;
        color: $color_gray_800;
        text-align: center;
        line-height: ceil(($font_size_base * 1.6)); // 26px
    }

    &__content {
        margin: 28px 25.5px 16px 26.5px;
    }

    .input {
        &__field {
            margin-bottom: 16px;
        }
    }

    .modal {
        &__footer {
            margin-top: 28px;
        }

        &__txt {
            font-size: $font_size_h4;
        }
    }
}