@import '_global';

.change-password {
    &__list {
        margin: 28px 25.5px 16px 26.5px;
    }

    &__item {
        &:nth-of-type(n+2) {
            margin-top: 16px;
        }
    }

    &__txt {
        margin: 0 24px 0 25px;
        font-size: $font_size_base;
        color: $color_gray_800;
        line-height: 26px;
    }

    .modal {
        &__footer {
            margin-top: 28px;
        }

        &__txt {
            margin: 0 23.5px 0 24.5px;
            font-size: $font_size_h4;
        }
    }
}