@import '_global';

.personal {
    &-coaching {
        @at-root .detail {
            &-member {
                font-weight: 700;
                color: $color_gray_800;
                
                .grader {
                    margin-left: 8px;
                    font-weight: 500;
                }
            }

            &__list {
                @include display-flex;
                align-items: center;
            }

            &__title {
                margin-right: 2.60vw;
                font-weight: 500;
                color: $color_gray_600;
            }

            &__txt {
                font-weight: 700;
                color: $color_gray_900;
            }

            &__link {
                margin-left: 1.25vw;
                padding: 5.5px 19px 4.5px;
                border: 1px solid $color_gray_700;
                @include border-radius(50px);
                background: $color_white;
                font-size: $font_size_large;
                font-weight: 500;
                color: $color_gray_900;
            }

            &__btn {
                margin-left: 1.67vw;

                .btn {
                    &:nth-of-type(n+2) {
                        margin-left: 13px;
                    }
                }
            }
        }

        .tab {
            margin-top: 44px;

            &__nav {
                height: 47px;
                border-bottom: 1px solid $color_gray_400;
            }

            &__item {
                &--on {
                    .tab {
                        &__link {
                            border-bottom: 2px solid $color_primary;
                            font-weight: 700;
                            color: $color_gray_900;
                        }
                    }
                }
                
                &:nth-of-type(n+2) {
                    margin-left: 64px;
                }
            }

            &__link {
                display: inline-block;
                height: 47px;
                font-size: $font_size_h3;
                font-weight: 500;
                color: $color_gray_600;
                line-height: ceil(($font_size_base * 1.45));              
            } 

            &__content {
                padding-top: 32px;

                .table {
                    &__box {
                        min-height: 576px;
                        max-height: 700px;
                        padding: 0 24px 18px;
                    }

                    th {
                        padding: 15px 18px 9px;
                    }

                    td {
                        padding: 8px 18px;
                    }

                    .kread {
                        font-weight: 700;
                        color: $color_neutral;
                    }

                    .btn {
                        &--reset {
                            display: inline-block;
                            padding: 5px 15px 4px;
                            border: 1px solid $color_gray_500;
                            @include border-radius(50px);
                            font-size: $font_size_small;
                            font-weight: 500;
                            color: $color_gray_800;
                            line-height: 1.5;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        .filter {
            &__content {
                justify-content: flex-start;

                .btn {
                    min-width: auto;

                    &:nth-of-type(n+2) {
                        margin-left: 16px;
                    }

                    &--on {
                        border-color: $color_primary;
                        color: $color_primary;
                        
                        &:hover {
                            border-color: #602EA0;
                            background: $color_gray_200;
                            color: #602EA0;
                        }
                    }
                }

                .select {
                    width: 190px;
                    &:nth-of-type(n+2) {
                        margin-left: 16px;
                    }
                }
            }
        }

        .result {
            &-customized {
                .chip {
                    margin-top: 8px;
                }
            }
        }
    }

    &-info {
        padding: 40px;

        .panel {
            &__bg-gray {                
                padding: 40px 48px 35px;
            }
        }
    }

    &-dashboard {
        @include display-flex;
        align-items: stretch;
        margin-top: 32px;

        .panel {
            @include display-flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 19px 32px 32px 32px;

            &:first-of-type {
                width: 20%;
                max-width: 322px;
            }

            &:nth-of-type(2) {
                flex: 1 1 auto;
                width: 52%;
                max-width: 768px;
                margin: 0 1.67vw;
            }

            &:last-of-type {
                width: 28%;
                max-width: 446px;
            }
        }

        @at-root .dashboard {
            &__title {
                font-size: $font_size_h4;
                font-weight: 700;
                color: $color_gray_900;
                line-height: 1.45;
                word-break: keep-all;
            }

            &__txt {
                font-size: $font_size_b2;
                color: $color_gray_700;
                line-height: ceil(($font_size_b2 * 1.47));

                span {
                    display: inline-block;
                }
            }

            &--top {
                @include display-flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        @at-root .graph {
            &-strength {
                @include display-flex;
                justify-content: space-between;
                margin-top: 22px;

                .rank {
                    display: inline-block;
                    margin-right: 12px;
                    width: 24px;
                    height: 24px;
                    @include border-radius(50%);
                    background: $color_gray_300;
                    font-size: $font_size_small;
                    color: $color_gray_700;
                    text-align: center;
                    line-height: 24px;

                    &-top {
                        background: $color_primary;
                        color: $color_white;
                    }
                }
            }

            &__content {
                img {
                    width: 100%;
                }

                .table {
                    width: calc((100% - 3.33vw) / 2);
                    
                    th {
                        padding: 0;
                        font-size: $font_size_small;
                        font-weight: 500;
                        color: $color_gray_600;
                        text-align: right;
                        line-height: 1.5;
                        letter-spacing: 0.4px;
                    }

                    td {
                        padding: 8px 0;
                        font-size: $font_size_large;
                        font-weight: 500;
                        color: $color_gray_800;
                        line-height: ceil(($font_size_large * 1.44));

                        &:first-of-type {
                            padding-right: 1.67vw;
                            width: 118px;
                            text-align: left;
                        }
                    }
                        
                    .ratio {
                        padding-left: 0.83vw;
                        color: $color_gray_600;
                        line-height: ceil(($font_size_large * 1.22));
                    }
                }
            }
        }
    }

    &__list {
        @include display-flex;
        align-items: center;

        &:nth-of-type(2) {
            margin-top: 39px;

            .personal__item {
                width: 100%;
                max-width: inherit;
            }
        }
    }

    &__item {
        font-size: $font_size_h4;
        line-height: 1.45;

        &:first-of-type {
            flex: 0 0 auto;
            width: 40%;
            max-width: 550px;
            
            .detail__title {
                width: 130px;
            }
        }

        &:nth-of-type(2) {
            width: 34%;
            max-width: 468px;
        }

        &:last-of-type {
            width: 36%;
            max-width: 374px;
        }

        &:nth-of-type(n+2) {
            border-left: 2px solid $color_gray_400;

            .detail {
                &__list {
                    justify-content: center;
                }
            }
        }
    }
}

@include pc_size_l {
    .personal {
        &-coaching {
            .result {
                &-customized {
                    .table {
                        &__link {
                            font-size: $font_size_small;
                        }

                        th, td {
                            font-size: $font_size_small;
                        }

                        .btn {
                            &--reset {
                                font-size: $font_size_caption2;
                            }
                        }
                    }

                    .chip {
                        margin-top: 4px;
                        font-size: $font_size_small;
                    }
                }
            }

            .tab {
                &__content {
                    .table {
                        th {
                            padding: 15px 12px 9px;
                        }

                        td {
                            padding: 8px 12px;
                        }
                    }
                }
            }
        }

        &-info {
            //padding: 2.08vw;
            padding: 2.6vw;

            .panel {
                &__bg {
                    &-gray {
                        padding: 2.08vw 2.5vw 1.82vw;
                    }
                }
            }
        }

        &-dashboard {            
            //margin-top: 1.67vw;

            .panel {
                padding: 0.99vw 1.67vw 1.67vw;

                &:first-of-type {
                    width: 24%;
                }

                &:last-of-type {
                    width: 26%;
                }
            }
        }
    }

    .detail {
        &__title {
            margin-right: 1.3vw;
        }
    }

    .graph {
        &-strength {
            .rank {
                margin-right: 0.63vw;
            }
        }

        &__content {
            .table {
                width: calc((100% - 1.67vw) / 2);

                td {
                    &:first-of-type {
                        width: 40%;
                        padding-right: 0.83vw;
                    }
                }
            }
        }
    }
}

@include pc_size_s {
    .personal {
        &-coaching {
            .tab {
                &__content {
                    .table {
                        th {
                            padding: 15px 8px 9px;
                        }

                        td {
                            padding: 8px;
                        }
                    }
                }
            }
        }

        &-dashboard {
            flex-wrap: wrap;

            .panel {
                &:first-of-type {
                    width: auto;
                }

                &:nth-of-type(2) {
                    margin-right: 0;
                }

                &:last-of-type {
                    flex-direction: inherit;
                    justify-content: inherit;
                    width: 100%;
                    max-width: inherit;
                    margin-top: 2.08vw;

                    .graph {
                        &__content {
                            flex: 1 1 auto;
                            max-width: 382px;
                            margin-left: 3.13vw;
                        }
                    }
                }
            }
        }

        &__item {
            &:first-of-type {
                width: 45%;
            }
        }
    }
    
    .detail {
        &__title {
            margin-right: 2.08vw;
        }

        &__list {
            flex-wrap: wrap;
        }
    }

    .graph {
        &__content {
            .table {
                td {
                    &:first-of-type {
                        width: 30%;
                        min-width: 92px;
                    }
                }
            }
        }
    }
}

@include tablet_l {
    .personal {
        &-coaching {
            .tab {
                &__content {
                    .table {
                        &__box {
                            padding: 0 12px 18px;
                        }

                        &__link {
                            font-size: $font_size_small;
                        }

                        .btn {
                            &--reset {
                                font-size: $font_size_caption2;
                            }
                        }
                    }
                }
            }
        }

        &-info {
            .panel {
                &__bg-gray {
                    padding: 2.08vw 3.13vw 1.82vw;
                }
            }
        }

        &-dashboard {
            .panel {
                //padding: 0.99vw 2.6vw 1.67vw;
                padding: 2.34vw 3.13vw;
                
                &:first-of-type {
                    flex-direction: inherit;
                    justify-content: inherit;
                    width: 100%;
                    max-width: inherit;

                    .graph {
                        &__content {
                            flex: 1 1 auto;
                            max-width: 260px;
                            margin-left: 3.13vw;
                        }
                    }
                }

                &:nth-of-type(2) {
                    width: 100%;
                    max-width: inherit;
                    margin-top: 2.08vw;
                    margin-left: 0;
                }
            }
        }

        &__list {
            flex-wrap: wrap;

            &:nth-of-type(2) {
                margin-top: 2.03vw;
            }
        }

        &__item {
            &:first-of-type {
                width: 62%;
            }

            &:nth-of-type(2) {
                width: 38%;
            }

            &:last-of-type {
                width: 100%;
                margin-top: 5px;
                border-left: 0;

                .detail {
                    &__list {
                        justify-content: flex-start;
                    }

                    &__title {
                        width: 130px;
                    }
                }
            }
        }
    }

    .detail {
        &__btn {
            margin-top: 1.25vw;
            margin-left: 0;
        }

        &__link {
            padding: 5.5px 10px 4.5px;
        }
    }

    .dashboard {
        &__title {
            width: 30%;
        }
    }

    .graph {
        &__content {
            .table {
                width: calc((100% - 3.33vw) / 2);
            }
        }
    }
}