@import '_global';

.reset-course {
    &__txt {
        margin-top: 16px;
        font-weight: 500;
        color: $color_gray_600;
        line-height: 1.6;
    }

    &--error {
        margin: 48px 0 24px;
        font-size: $font_size_large;
        font-weight: 500;
        color: $color_gray_600;
        text-align: center;
        line-height: ceil(($font_size_large * 1.4));
    }
    .modal {
        &__dialog {
            max-width: 569px;
        }
    }

    .txt {
        &--green {
            font-size: 18px;
            //font-weight: 700;
            color: #00B828;
        }
    }

    .btn {
        &:nth-of-type(n+2) {
            margin-left: 13px;
        }

        &__box {
            padding: 24px 0;
            border-bottom: 1px solid $color_gray_400;
            text-align: center;
        }
    }

    .table {
        &__box {
            height: 258px;
            margin-top: 16px;
            //padding: 0 6px 0;
        }
    }
}