@import '_global';

.student {
    &__header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }    

    .required {
        &__txt {
            font-weight: 500;
            color: $color_negative;
            line-height: 1.5;
            letter-spacing: -0.01em;
        }
    }

    .registration {
        &__title {
            padding: 34px 40px 32px;
            border-bottom: 1px solid $color_gray_400;
            font-size: $font_size_h3;
            font-weight: 700;
            color: $color_gray_900;
        }

        &__content {
            padding: 0 40px;
        }

        &__btn {
            margin-top: 48px;
            text-align: center;

            .btn {
                &:nth-of-type(n+2) {
                    margin-left: 17px;
                }
            }
        }
    }

    .input {
        width: 100%;

        &-address {
            .input {
                &:nth-of-type(n+2) {
                    margin-top: 12px;
                }

                &__box {
                    // display: block;
                    flex-wrap: wrap;
                }
            }
        }

        &-message {
            position: absolute;
            bottom: -28px;
            left: 0;
        }

        &-postcode {
            width: calc(100% - 155px); // 155px 주소검색 버튼 사이즈
        }

        &__field {
            justify-content: space-between;
            min-height: 112px;
            margin: 0;
            padding: 31px 0;
            border-bottom: 1px solid $color_gray_400;

            .btn {
                flex: 0 0 auto;
            }
        }

        &__content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            width: calc((100% - 11.25vw)/ 2);
        }

        &__box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 472px;

            &:nth-of-type(n+2) {
                margin-left: 0;
            }

            .input {
                &+.btn {
                    margin-left: 16px;
                }
            }
        }

        &__label {
            width: 160px;
            margin-right: 58px;
            font-weight: 500;
        }

        &__result {
            font-size: $font_size_large;
            font-weight: 500;
            color: $color_gray_900;
            line-height: ceil(($font_size_base * 1.44));
        }
    }

    .radio {
        &__box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
        }

        &__label {
            margin-right: 28px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .select {
        max-width: 145px;
    }

    .textarea {
        height: 144px;

        &-length {
            flex: 0 0 auto;
            margin: 120px 18px 0;
        }
    }
}