@import '_global';

body {
    background: $color_gray_100;
    font-family: $font_family_base;    
    font-size: $font_size_base;
}

// slim scrollbar
$scrollbar_color : #D9D9D9;

* {
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;

        &-thumb {
            @include border-radius(10px);
            background: $scrollbar_color;

            &:hover {
                background: $scrollbar_color;
            }

            &:active {
                background: $scrollbar_color;
            }
        }

        &-track {
            margin: 10px 0 10px;   
            //@include border-radius(10px);
            background: transparent;    
        }

        &-button {
            display: none;
        }
    }
}

:root {
    scrollbar-width: thin;
}

/*
    component
*/
// Controls Pagenation
.pagenation {
    &__list {
        @include display-flex;
        align-items: center;
    }

    &__item {
        min-width: 24px;
        font-size: $font_size_base;
        font-weight: 500;
        color: $color_gray_700;
        text-align: center;
        line-height: 1.5;
        letter-spacing: -0.01em;
    }

    &--disabled {
        opacity: .3;
        pointer-events: none;
    }

    &--on {
        font-weight: 700;
        color: $color_primary;
    }

    &__link {
        display: block;
        height: 24px;
    }

    &--first, &--prev, &--next, &--last {
        //overflow: hidden;
        width: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        text-indent:-9999px;
    }

    &--first {
        background-image: url('/assets/images/ico_pagenation_first.svg');
    }

    &--prev {
        background-image: url('/assets/images/ico_pagenation_prev.svg');
    }

    &--next {
        background-image: url('/assets/images/ico_pagenation_next.svg');
    }

    &--last {
        background-image: url('/assets/images/ico_pagenation_last.svg');
    }
}

// Controls date
.date {
    &__list {
        @include display-flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        font-size: $font_size_h4;
        font-weight: 700;
        color: #1A1D1F;
        text-align: center;
        line-height: 1.6;
        letter-spacing: -0.02em;

        span {
            margin: 0 3px;
        }
    }

    &__link {
        display: block;
        height: 36px;
        line-height: ceil(($font_size_base * 2.25));// 36px
    }

    &-year, &-day {
        display: inline-block;
    }

    &--prev, &--prev--disabled, &--next, &--next--disabled {
        width: 36px;
        @include border-radius(50%);
        background-color: $color_gray_400;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px auto;
        text-indent:-9999px;
    }

    &--prev {
        background-image: url('/assets/images/ico_date_prev.svg');

        &--disabled {
            pointer-events: none;
            background-image: url('/assets/images/ico_date_prev_disabled.svg');
        }
    }

    &--next {
        background-image: url('/assets/images/ico_date_next.svg');

        &--disabled {
            pointer-events: none;
            background-image: url('/assets/images/ico_date_next_disabled.svg');
        }
    }
}

// dropdown
.dropdown {
    position: relative;
    //max-width: 280px;
    width: 100%;
    outline: inherit;

    &:nth-of-type(n+2) {
        margin-left: 12px;
    }

    &__select {
        @include display-flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        padding: 12px;
        border: 1px solid $color_gray_400;
        @include border-radius(8px);
        background: $color_white;
        font-weight: 500;
        color: $color_gray_700;
        line-height: 1.5;
        letter-spacing: -0.01em; 

        &:hover {
            cursor: pointer;
        }

        &--on {
            @include border-radius(8px 8px 0 0);
        }
    }
    
    &__arrow {
        transition: 0.3s;

        &--rotate {
            transform: rotate(180deg);
        }
    }

    &__list {
        display: none;
        overflow: auto;
        position: absolute;        
        top: 47px;        
        width: 100%;
        max-height: 0;
        border: 1px solid transparent;
        @include border-radius(0 0 8px 8px);
        z-index: 5;

        &::-webkit-scrollbar {
            width: 9px;
            height: 9px;

            &-thumb {
                @include border-radius(10px);
                background: $color_gray_600;
    
                &:hover {
                    background: $color_gray_600;
                }
    
                &:active {
                    background: $color_gray_600;
                }
            }
    
            &-track {
                margin: 6px 7px 8px 0;   
                @include border-radius(10px);
                background: $color_gray_300;    
            }
    
            &-button {
                display: none;
            }
        }

        &--on {
            display: block;
            max-height: 192px;
            border-color: $color_gray_400;
        }
    }

    &__item {
        padding: 12px;
        background: #fff;
        font-weight: 500;
        color: $color_gray_700;
        line-height: 1.5;
        letter-spacing: -0.01em;
        z-index: 1;

        &:hover {
            background: $color_gray_200;
            cursor: pointer;
        }
    }    

    &__input {
        display: none;
    }

    &--disabled {
        pointer-events: none;

        .dropdown {
            &__select {
                background: $color_gray_200;
                color: $color_gray_900;
            }
        }
    }

    &__date {
        .dropdown {
            &__title {
                position: relative;
                padding-left: 28px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background: url('/assets/images/ico_dropdown_calendar.svg') no-repeat center/ contain;
                }
            }
        }
    }
}

// chip
.chip {
    display: inline-block;
    padding: 5.5px 15px 4.5px;
    border: 1px solid transparent;
    @include border-radius(8px);
    background: rgba($color_gray_600, $alpha: 0.12);
    font-weight: 700;
    color: $color_gray_600;
    text-align: center;
    line-height: 1.5;

    &-outline {
        border-color: $color_gray_600;
        background: $color_white;
    }

    &--primary {
        background: rgba($color_primary, $alpha: 0.12);
        color: $color_primary;

        &-outline {
            border-color: $color_primary;
            background: $color_white;
            color: $color_primary;
        }
    }

    &--secondary {
        background: rgba($color_secondary, $alpha: 0.12);
        color: $color_secondary;

        &-outline {
            border-color: $color_secondary;
            background: $color_white;
            color: $color_secondary;
        }
    }

    &--tertiary {
        background: rgba($color_tertiary, $alpha: 0.12);
        color: $color_tertiary;

        &-outline {
            border-color: $color_tertiary;
            background: $color_white;
            color: $color_tertiary;
        }
    }

    &--negative {
        background: rgba($color_negative, $alpha: 0.12);
        color: $color_negative;

        &-outline {
            border-color: $color_negative;
            background: $color_white;
            color: $color_negative;
        }
    }

    &--warning {
        background: rgba($color_warning, $alpha: 0.12);
        color: $color_warning;

        &-outline {
            border-color: $color_warning;
            background: $color_white;
            color: $color_warning;
        }
    }

    &--positive {
        background: rgba($color_positive, $alpha: 0.12);
        color: $color_positive;

        &-outline {
            border-color: $color_positive;
            background: $color_white;
            color: $color_positive;
        }
    }

    &--neutral {
        background: rgba($color_neutral, $alpha: 0.12);
        color: $color_neutral;

        &-outline {
            border-color: $color_neutral;
            background: $color_white;
            color: $color_neutral;
        }
    }

    &--green {
        background: rgba($color: #37C16C, $alpha: 0.12);
        color: #37C16C;

        &-outline {
            border-color: #37C16C;
            background: $color_white;
            color: #37C16C;
        }
    }    

    &--cyan {
        background: rgba($color: #70B6C1, $alpha: 0.12);
        color: #70B6C1;

        &-outline {
            border-color: #70B6C1;
            background: $color_white;
            color: #70B6C1;
        }
    }

    &--blue {
        background: rgba($color_positive, $alpha: 0.12);
        color: $color_positive;

        &-outline {
            border-color: $color_positive;
            background: $color_white;
            color: $color_positive;
        }
    }

    &--purple {
        background: rgba($color: #775DA6, $alpha: 0.12);
        color: #775DA6;

        &-outline {
            border-color: #775DA6;
            background: $color_white;
            color: #775DA6;
        }
    }

    &--pink {
        background: rgba($color_secondary, $alpha: 0.12);
        color: $color_secondary;

        &-outline {
            border-color: $color_secondary;
            background: $color_white;
            color: $color_secondary;
        }
    }
    
    &--red {
        background: rgba($color_negative, $alpha: 0.12);
        color: $color_negative;

        &-outline {
            border-color: $color_negative;
            background: $color_white;
            color: $color_negative;
        }
    }

    &--orange {
        background: rgba($color_warning, $alpha: 0.12);
        color: $color_warning;

        &-outline {
            border-color: $color_warning;
            background: $color_white;
            color: $color_warning;
        }
    }

    &--grey {
        background: rgba($color_gray_600, $alpha: 0.12);
        color: $color_gray_600;

        &-outline {
            border-color: $color_gray_600;
            background: $color_white;
            color: $color_gray_600;
        }
    }

    &--black {
        background: rgba($color_gray_900, $alpha: 0.12);
        color: $color_gray_900;

        &-outline {
            border-color: $color_gray_900;
            background: $color_white;
            color: $color_gray_900;
        }

    }
    
    // size
    &--small {
        padding: 4px 6px 3px;
        @include border-radius(4px);
        font-size: $font_size_caption2;
        font-weight: 500;
        line-height: ceil(($font_size_caption2 * 1.41));
    }
}

// table
$table_cell_active_bg : #f1f2f3;
$table_cell_stripe_bg : $color_gray_100;
$table_cell_dark_bg : $color_gray_300;
//$table_cell_light_bg : #fafafa;
$table_cell_padding_y : ceil(($font_size_base * 1.16)); // 19px
$table_cell_padding_x : ceil(($font_size_base * 0.75)); // 12px

table, thead, tbody, tr, th, td {
    border-width: 0;
    border-style: solid;
    border-color: inherit;
}

.table {
    width:100%;
    vertical-align: middle;

    tr {
        background: $color_white;
    }

    // th & td
    th, td {
        text-align: center;
        line-height: 1.5;
        word-break: keep-all;
        vertical-align: middle;
    }

    th {
        position: relative;
        padding: ceil(($font_size_base * 1.5)) $table-cell-padding-x; // 24px 12px
        background: $color_white;
        color: $color_gray_700;
    }

    td {
        padding: $table-cell-padding-y $table-cell-padding-x;
        color: $color_gray_900;
    }

    &-header {
        &--sticky {
            thead {
                position: sticky; 
                top: 0;
                z-index: 1;
            }
        }
    }

    &__box {
        overflow-y: auto;
        position: relative;
        width: 100%;
        padding: 0 ceil(($font_size_base * 1.43)); // 0 23px 
        border: 1px solid $color_gray_300;
        @include border-radius(8px);
        background: $color_white;

        &::-webkit-scrollbar-track {
            margin: 72px 0 15px;
        }

        // 데이터 없음
        .error {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            padding-top: 73px;
            font-size: $font_size_h3;
            color: $color_gray_700;
            text-align: center;
            line-height: 1.5;
            background: url('/assets/images/ico_warning.svg') no-repeat top center/ 56px auto;
            @include transform(translateY(-50%));
        }
    }

    &--zebra {
        > tbody > tr:nth-child(odd) {
            background: $color_gray_200;
        }
    }

    &--line {
        &.table-header--sticky {
            th {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: $color_gray_400;
                }
            }
        }

        tr {
            &:last-of-type {
                th, td {
                    border-bottom: 0;
                }
            }
        }

        th, td {
            border-bottom: 1px solid $color_gray_400;
        }
    }

    &--small {
        th, td {
            font-size: ceil(($font_size_base * .85));
            padding: abs($table_cell_padding_y / 2) abs($table_cell_padding_x / 2);
        }
    }

    &--active {
        background: $table_cell_active_bg;
    }

    &--scroll {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    // th, td style
    &__link {
        text-decoration: underline;
    }

    &__border {
        &-btm {
            border-bottom: 1px solid $color_gray_400;
        }
    }

    &__bg {
        &-gray {
            background: $color_gray_200;
        }
    }

    /*
    tbody {
        > tr:hover {
            background: $table_cell_dark_bg;
        }
    }
    */

    .txt {
        &--medium {
            font-weight: 500;
        }
    
        &--bold {
            font-weight: 700;
        }
    
        &--red {
            color: $color_negative;
        }

        &--left {
            text-align: left;
        }
    
        &--right {
            text-align: right;
        }
    }
}

// tab
.tab {
    &__nav {
        @include display-flex;
    }

    &__content {
        display: none;
    }
}

// accordion tab
.accordion {
    &__content {
        display: none;
    }

    &__item {        
        &--on {
            .accordion {
                &__content {
                    display: block;
                }
            }
        }
    }
}

/*
    common layouts
*/

.txt {
    &--medium {
        font-weight: 500;
    }

    &--bold {
        font-weight: 700;
    }

    &--red {
        color: $color_negative;
    }
}

.required {
    &__txt {
        font-weight: 500;
        color: $color_negative;
        line-height: 1.5;
        letter-spacing: -0.01em;
    }
}

// page
.page {
    position: relative;
    //background: $color_gray_100;
    //height: calc(100vh - 195px);
    min-height: 774px;
    padding:  38px 6.25vw;// 38px 120px
    box-sizing: border-box;

    .filter {
        &__content {
            @include display-flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            /*
            .btn {
                min-width: 154px;
            }
            */
        }

        &__txt {
            flex: 0 0 auto;
            margin-right: 32px;
            font-size: $font_size_large;
            font-weight: 500;
            color: $color_dark;
            line-height: ceil(($font_size_large * 1.44));
        }
    }
}

// page menu tilte

.menu {
    margin-bottom: 25px;

    &__content{
        @include display-flex;
        align-items: baseline;
    }

    &__title {
        flex: 0 0 auto;
        font-size: $font_size_h1;
        font-weight: 700;
        color: $color_gray_900;
        line-height: ceil(($font_size_h1 * 1.43));
    }

    &__list {
        @include display-flex;
        margin-left: 20px;
    }

    &__item {
        position: relative;
        font-size: $font_size_large;
        font-weight: 500;
        color: $color_gray_600;
        line-height: ceil(($font_size_large * 1.44));

        // &:first-of-type {
        //     color: $color_gray_900;
        // }

        &:nth-of-type(n+2) {
            margin-left: 4px;
            padding-left: 12px;

            &::before {
                content: '/';
                display: inline-block;
                position: absolute;
                top: auto;
                left: 0;
                font-weight: 400;
                color: $color_gray_800;
            }
        }
    }

    &__link {
        color: $color_gray_900;
        text-decoration: underline;
    }

    &__txt {
        font-size: $font_size_large;
        color: $color_gray_600;
        line-height: ceil(($font_size_large * 1.44));
    }
}

// panel
.panel {
    border: 1px solid $color_gray_400;
    @include border-radius(8px);
    background: $color_white;

    &__bg-gray {
        background: $color_gray_200;
    }
}

// authority change_teacher.html & change_manager.html
.change {
    position: absolute;
    top: 50%;
    left: 50%;
    //height: calc(100vh -  195px);
    //min-height: 884px;
    text-align: center;
    @include transform(translate(-50%, -50%));

    &__txt {
        //padding-top: 115px;
        font-size: $font_size_h2;
        color: $color_gray_900;
        line-height: ceil(($font_size_h2 * 1.4)); // 35px
    }

    &__title {
        margin-top: 9px;
        font-size: $font_size_h1;
        font-weight: 700;
        color: $color_gray_900;
        line-height: ceil(($font_size_h1 * 1.56)); // 50px
    }

    &__list {
        @include display-flex;
        justify-content: center;
        align-items: center;
        margin-top: 79px;
    }

    &__item {
        position: relative;
        min-width: 192px;
        padding-top: 206px;
        background-repeat: no-repeat;
        font-size: $font_size_h2;
        font-weight: 700;
        color: $color_gray_700;

        &.change {
            &--color {
                background-position: top center;
                background-size: 192px auto;
            }

            &--gray {
                background-position: top 14px center;
                background-size: 164px auto;
            }
        }
    }

    &-arrow {
        min-width: auto;
        margin: -53px 79px 0 80px;
        padding-top: 0;
    }

    .btn {
        margin-top: 154px;
        min-width: 433px;
    }

    &-teacher {
        .change {
            &--color {
                background-image: url('/assets/images/img_teacher_on.svg');                
            }

            &--gray {
                background-image: url('/assets/images/img_student_off.svg');
            }
        }
    }

    &-manager {
        .change {
            &--color {
                background-image: url('/assets/images/img_student_on.svg');                
            }

            &--gray {
                background-image: url('/assets/images/img_teacher_off.svg');
            }
        }
    }
}

// 데이터 테이블 공통
.data {
    &__search {
        position: relative;
        width: 339px;
    }
    
    &-table {
        &__header {
            @include display-flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__filter {
            @include display-flex;
            justify-content: space-between;
            align-items: flex-start;

            .btn {
                min-width: 154px;
            }
        }

        .select {
            min-width: 183px;

            &:nth-of-type(n+2) {
                margin-left: 18px;
            }
        }

        .table {
            &__box {
                min-height: 576px;
                max-height: 716px;
            }
        }

        .btn {
            &:nth-of-type(n+2) {
                margin-left: 17px;
            }

            &__box {
                margin: 34px 0 24px;
            }
        }    
    }
}

// 컴퍼넌트 검색 & 캘린더
.component {
    .panel {
        margin-bottom: 44px;
        padding: 24px 40px;        
    }

    .input {
        &-teacher {
            max-width: 142px;
        }

        &__field {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid #F0F0F2;

            .input {
                &__box {
                    &:nth-of-type(n+2) {
                        margin-left: 12px;
                    }
                }
                
                &__title {
                    &+ .input  {
                        &__box {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        &__title {
            flex: 0 0 auto;
            min-width: 134px;
            margin-right: 6px;
        }

        &__content {
            @include display-flex;
            align-items: center;
            width: 100%;

            .select {
                flex: 0 0 auto;
            }
        }

        &__box {
            .input {
                &--date {
                    width: 190px;
                }
            }
        }

        &--reset {
            width: calc(100% - 190px);
            max-width: 472px;
            margin-left: 12px;
        }
    }

    .btn {
        &--primary {
            width: 70%;
            max-width: 433px;
            margin-left: 13px;
        }
    }

    .duration {
        margin-left: 12px;
    }

    .select {
        width: 142px;
    }

    .radio {
        &__content {
            @include display-flex;
            flex-wrap: wrap;
            align-items: center;
            min-height: 48px;
            margin-left: 28px;
        }

        &__box {
            &:last-of-type {
                .radio {
                    &__label {
                        margin-right: 0;
                    }
                }
            }
        }

        &__label {
            margin-right: 28px;
        }
    }

    .check {
        &__box {
            padding: 8px 0;
        }

        &__label {
            margin-right: 28px;
        }
    }
}

// 컴퍼넌트 검색
.search {
    &-result {    
        .table {
            td {
                padding: 11px 12px;
            }

            &__box {
                /*
                min-height: 576px;
                max-height: 716px;
                */
                height: 420px;
            }

            .btn {
                &--list {                    
                    min-width: 160px;
                }
            }
        }
    }

    &__link {
        text-decoration: underline;
    }
}

// report common
.report {
    width: 100%;


}


// Print button common
.print {
    &-btn {
        &__area {
            background: $color_white;
        }

        &__box {
            position: relative;
            height: 80px;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        right: 0;
        width: 2.5vw;
        min-width: 30px;
        height: 2.5vw;
        min-height: 30px;
        background: url('/assets/images/ico_print.svg') no-repeat center/ contain;
        text-indent: -9999rem;
        @include transform(translateY(-50%));
    }
}


/* Media Query */
@include pc_wide {
    .page, .report {
        max-width: 1920px;
        margin: 0 auto;
    }

    .print {
        max-width: 2480px;
        margin: 0 auto;
    }
}

@include pc_full {
    .component {
        .input {
            &__content {
                flex-wrap: wrap;
            }
        }
    }
}

@include pc_size_l {
    .page {
        padding: 38px 5%;
    }

    .component {
        .radio {
            &__content {
                min-height: auto;
                margin-left: 0;
            }

            &__box {
                margin-top: 10px;
            }
        }
    }
}

@include pc_size_s {
    .chip {
        padding: 5.5px 8px 4.5px;

        &--small {
            padding: 4px 3px 3px;
        }
    }
    
    .table {
        th {
            padding: 24px 8px;
        }

        td {
            padding: 19px 8px;
        }
    }

    .search {
        &-result {
            .table {
                td {
                    padding: 11px 8px;
                }

                .btn {
                    &--list {
                        min-width: auto;
                        padding: 7.5px 30px 6.5px;
                    }
                }
            }
        }
    }
}

@include tablet_l {
    .data {
        &-table {
            &__header {
                flex-wrap: wrap;
            }

            .btn {
                &:nth-of-type(n+2) {
                    margin-left: 6px;
                }
            }
        }
    }

    .component {
        .select {
            &__box {
                margin-top: 10px;

                .duration {
                    margin-left: 0;
                }
            }
        }
    }
    
    .chip {
        font-size: $font_size_small;

        &--small {
            font-size: 12px;
        }
    }

    .table {
        &__box {
            padding: 0 12px;

            .error {
                font-size: $font_size_h4;
            }
        }

        th, td {
            font-size: $font_size_small;
        }
    }

    .search {
        &-result {
            .table {
                .btn {
                    &--list {
                        padding: 7.5px 15px 6.5px;
                        font-size: $font_size_small;
                    }
                }
            }
        }
    }
}