@import '_global';

$dashboard_color : $color_gray_900;

body {
    position: relative;
}

.dashboard {
    &-date {
        font-size: $font_size_small;
        font-weight: 500;
        color: $color_gray_600;
        line-height: ceil(($font_size_base * 1.71));
    }

    &__header {
        @include display-flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 7px;
        // /padding: 0 16px;
    }

    &__title {
        flex: 0 0 auto;
        font-size: $font_size_h4;
        font-weight: 700;
        color: $color_gray_700;
        line-height: 1.45;
    }

    .notice {
        @include display-flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 32px 16px 20px;
        @include border-radius(8px);
        background: $color_gray_300;

        &-date {
            color: $color_gray_600;
            line-height: 1.5;
        }
        
        &__content {
            @include display-flex;
            align-items: center;
        }

        &__title {
            flex: 0 0 auto;
            position: relative;
            padding-left: 64px;
            font-weight: 700;
            color: $dashboard_color;
            line-height: 2.5;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
                background: url('/assets/images/ico_notice.svg') no-repeat center/ contain;
            }
        }

        &__txt {
            margin-left: 20px;
            color: $dashboard_color;
            line-height: 1.5;
        }
    }


    @at-root .management {
        margin-top: 24px;
        padding: 44px 48px 36px;

        &-date {
            font-size: $font_size_h1;
            font-weight: 700;
            color: $dashboard_color;
            text-align: center;
        }

        &-dashboard {
            width: calc((100% - 3.95vw)/ 3);
            max-width: 498px;

            .table {
                &__box {
                    height: 558px;
                }
            }
        }

        &__header {
            position: relative;
        }

        &__content {
            @include display-flex;
            justify-content: space-between;
            margin-top: 63px;

            .panel {
                width: calc((100% - 3.63vw)/ 3);
                padding: 22px 16px 27px;
                @include border-radius(16px);
            }
        }

        &__title {
            padding-bottom: 22px;
            border-bottom: 1px solid $color_gray_400;
            font-size: $font_size_h2;
            font-weight: 700;
            color: $color_gray_800;
            text-align: center;
            line-height: ceil(($font_size_h2 * 1.45));
            word-break: keep-all;
        }

        &__link {
            position: absolute;
            top: 50%;
            right: 0;
            @include transform(translateY(-50%));

            .more {
                display: inline-block;
                position: relative;
                padding-right: 24px;
                font-size: $font_size_large;
                font-weight: 500;
                color: $color_gray_600;
                line-height: ceil(($font_size_large * 1.44));

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 24px;
                    height: 24px;
                    background: url('/assets/images/ico_more.svg') no-repeat center/ contain;
                    @include transform(translateY(-50%));
                }
            }
        }

        &__list {
            overflow-y: auto;
            min-height: 195px;
            max-height: 455px;
        }

        &__btn {
            position: relative;
            width: 100%;
            padding: 22px 36px 20px 22px;
            font-weight: 500;
            text-align: left;
            line-height: ceil(($font_size_base * 1.43));
            word-break: keep-all;

            &:hover {
                background: $color_gray_300;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 12px;
                width: 24px;
                height: 24px;
                background: url('/assets/images/ico_chevron_next.svg') no-repeat center/ contain;
                @include transform(translateY(-50%));
            }
        }
    }

    .learning {
        margin-top: 24px;

        &-date {
            color: $color_gray_600;
            line-height: 1.3;
        }

        &-management {
            .ranking {
                width: 61%;
                max-width: 962px;
            }

            .attainment {
                justify-content: normal;
                width: 39%;
                max-width: 614px;
            }
        }

        &__header {
            @include display-flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 24px 32px 18px;
            border-bottom: 1px solid $color_gray_400;
        }

        &__content {
            @include display-flex;
            //justify-content: space-between;
            padding: 34px 32px;
        }

        &__title {
            margin-bottom: 5px;
            font-size: $font_size_h3;
            font-weight: 700;
            color: $dashboard_color;
        }
    }

    .panel {
        &__title {
            font-size: $font_size_h4;
            font-weight: 700;
            color: $dashboard_color;
            line-height: ceil(($font_size_h4 * 1.45));
        }
    }

    @at-root .ranking {
        padding: 30px 42px 18px;
        width: 65%;
        max-width: 1022px;
        @include border-radius(16px);

        &__table {
            margin-top: 27px;
        }

        .table {
            tr {
                &:last-of-type {
                    td {
                        border-bottom: 0;
                    }
                }
            }

            th {
                padding: 11px 12px;
                border-bottom: 0;
                background: $color_gray_200;
                font-size: $font_size_large;
                font-weight: 500;
                color: $color_gray_600;                    
                line-height: ceil(($font_size_large * 1.44));
            }

            td {
                padding: 16px 12px;
                font-weight: 500;
                color: $color_gray_800;
                //text-align: left;
                line-height: 1.5;

                &:first-of-type {
                    padding: 16px 18px;
                    font-size: $font_size_large;
                    font-weight: 700;
                    color: $dashboard_color;
                    line-height: ceil(($font_size_large * 1.44));
                }
            }
        }
    }

    @at-root .attainment {
        @include display-flex;
        flex: 0 0 auto;
        flex-direction: column;
        justify-content: space-between;
        width: 35%;
        max-width: 554px;
        padding: 32px 42px 12px;
        margin-left: 32px;
        @include border-radius(16px);

        &__content {
            @include display-flex;
            justify-content: center;
            margin-bottom: 33px;
        }

        &__list {
            margin-left: 44px;
        }

        &__item {
            font-size: $font_size_large;
            font-weight: 500;
            color: $dashboard_color;
            line-height: ceil(($font_size_large * 1.44));

            &:nth-of-type(n+2) {
                margin-top: 61px;
            }
        }

        &__link {
            display: inline-block;
            margin-left: 10px;
            font-size: $font_size_base;
            font-weight: 700;
            color: $color_positive;
            line-height: 1.5;
        }

        &__modal {
            position: absolute;
            //right: calc(6.25vw + 70px);
            right: 6.25vw;
            bottom: 2vh;
            width: 370px;

            .name {
                &__list {
                    @include display-flex;
                    flex-wrap: wrap;
                    overflow-y: auto;
                    height: 240px;
                }

                &__item {
                    width: 50%;
                    padding: 12px 0;
                    font-weight: 500;
                    color: $color_gray_700;
                    line-height: 1.5;
                }
            }
        }

        &__table {
            overflow-y: auto;
            max-height: 340px;
            margin-top: 27px;
            //padding: 0 10px;

            .table {
                tr {
                    &:first-of-type {
                        td {
                            padding: 16px 12px 21px;
                        }
                    }

                    &:last-of-type {
                        td {
                            border-bottom: 0;
                        }
                    }

                    &:nth-of-type(n+2) {
                        th {
                            padding: 2px 12px 9px;
                        }
                    }
                }

                th {
                    padding: 12px;
                    border-bottom: 0;
                    background: $color_gray_200;
                    font-size: 17px;
                    font-weight: 500;
                    color: $dashboard_color;                    
                    line-height: ceil((17px * 1.47));

                    &[colspan="3"] {
                        padding: 12px 12px 0;

                        &::after {
                            display: none;
                        }
                    }

                    &.percentage {
                        font-size: $font_size_small;
                        color: $color_gray_600;
                        line-height: ceil(($font_size_small * 1.71));
                    }
                }

                td {
                    padding: 21px 12px;
                    font-size: $font_size_large;
                    font-weight: 500;
                    color: $color_gray_800;
                    line-height: ceil(($font_size_large * 1.44));
                }
            }
        }
    }
}

@include pc_size_l {
    .dashboard {
        &__header {
            flex-wrap: wrap;
        }
    }

    .ranking {
        .table {
            th {
                padding: 11px 8px;
            }

            td {
                padding: 16px 8px;

                &:first-of-type {
                    padding: 16px 8px;
                }
            }
        }
    }

    .attainment {
        &__table {
            .table {
                tr {
                    &:first-of-type {
                        td {
                            padding: 16px 8px 21px;
                        }
                    }
                    &:nth-of-type(n+2) {
                        th {
                            padding: 2px 8px 9px;
                        }
                    }
                }

                th {
                    padding: 12px 8px;

                    &[colspan="3"] {
                        padding: 12px 8px 0;
                    }
                }

                td {
                    padding: 21px 8px;
                }
            }
        }
    }
}

@include pc_size_s {
    .dashboard {
        .learning {
            &-management {
                .ranking {
                    width: 100%;
                    max-width: inherit;
                }
                
                .attainment {
                    width: 100%;
                    max-width: inherit;
                    margin-top: 2.5vw;
                    margin-left: 0;
                }
            }

            &__content {
                flex-wrap: wrap;
            }
        }
    }

    .management {
        &-dashboard {
            width: calc((100% - 3.95vw)/ 2);

            &:nth-of-type(n+3) {
                margin-top: 2.5vw;
            }

            .table {
                &__box {
                    height: 330px;
                }
            }
        }

        &__content {
            flex-wrap: wrap;

            .panel {
                width: calc((100% - 3.63vw)/ 2);

                &:nth-of-type(n+3) {
                    margin-top: 2.5vw;
                }
            }
        }

        &__list {
            max-height: 260px;
        }
    }

    .ranking {
        width: 100%;
        max-width: inherit;
    }

    .attainment {
        width: 100%;
        max-width: inherit;
        margin-top: 2.5vw;
        margin-left: 0;

        &__content {
            margin-top: 27px;
        }

        &__modal {
            left: 62%;
            right: auto;
            @include transform(translateX(-50%));
        }
    }
}

@include tablet_s {
    .dashboard {
        &-date {
            font-size: $font_size_caption2;
        }

        &__title {
            font-size: $font_size_large;
        }

        .management {
            &-date {
                font-size: 30px;
            }

            &__title {
                font-size: $font_size_large;
            }
            

            &__link {
                .more {
                    font-size: $font_size_base;
                }
            }

            &__btn {
                padding: 22px 34px 20px 12px;
                font-size: $font_size_small;
            }
        }
    }

    

    .attainment {
        &__table {
            .table {
                th {
                    font-size: 15px;
                }

                td {
                    font-size: $font_size_base;
                }
            }
        }
    }
    
}

/*
@include tablet_l {
    .dashboard {
        .management {
            padding: 44px 3% 36px;

            &-dashboard {
                width: calc((100% - 3%)/ 2);

                &:nth-of-type(n+3) {
                    margin-top: 3%;
                }
            }
        }

        .learning {
            &__header {
                padding: 24px 2.5% 18px;
            }

            &__content {
                flex-wrap: wrap;
                padding: 34px 2.5%;
            }
        }
    }

    .ranking {
        //width: calc(65% - 22px);
        //padding: 30px 3% 18px;

        .table {
            th {
                font-size: $font_size_base;
            }

            td {
                font-size: $font_size_small;

                &:first-of-type {
                    font-size: $font_size_base;
                }
            }
        }
    }

    .attainment {
        margin-left: 2.5%;
        padding: 32px 3% 12px;

        &__list {
            margin-left: 10px;
        }

        &__item {
            //font-size: $font_size_base;

            &:nth-of-type(n+2) {
                margin-top: 40px;
            }
        }

        &__link {
            margin-left: 0;
            //font-size: $font_size_small;
        }
        
        &__modal {
            //right: 5%;
        }
    }
}


*/