@import '_global';

header {
    background: $color_white;

    @at-root .header {
        &__area {
            width: 100%;
            border-bottom: 1px solid $color_gray_400;
        }

        &__inner {
            @include display-flex;
            justify-content: space-between;
            align-items: center;
            padding: 32px 6.25vw 26px; // 32px 120px 26px;
        }

        &__content {
            @include display-flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    @at-root .logo {
        width: 60%;
        max-width: 200px;
        height: 42px;

        a {
            display: block;
            height: 42px;
            text-indent: -9999px;
            background-image: url('/assets/images/logo.svg');
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: cover;
        }
    }

    .dropdown {
        width: auto;
        
        &__content {
            width: 210px;
            max-width: none;            
        }
        &__select {
            overflow: hidden;
            height: 56px;
            padding: 15px 23px;
            border: 1px solid $color_gray_500;
            @include border-radius(50px);
            font-weight: 700;
            color: $color_gray_900;
            letter-spacing: inherit; 

            &--on {
                border-bottom: 1px solid $color_white;
                @include border-radius(30px 30px 0 0);
            }
        }

        /*
        &__title {
            @include text-ellipsis();
        }
        */

        &__list {
            top: 50px;
            border: 1px solid $color_gray_500;
            @include border-radius(0 0 30px 30px);
            background: $color_white;       

            &::-webkit-scrollbar-track {
                margin: 6px 7px 25px 0;
            }

            &--on {
                max-height: 145px;
                border-top: 0;
            }
        }

        &__item {
            padding: 14px 24px 10px;
            font-weight: 400;;
            color: $color_gray_900;
            white-space: nowrap;
            // @include text-ellipsis();

            &:last-of-type {
                padding: 14px 24px 16px;
            }
        }
    }

    @at-root .shortcut {
        position: relative;
        margin-left: 32px;

        &__btn {
            height: 56px;
            padding-left: 68px;
            background-image: url('/assets/images/ico_profile.svg');           
            background-position: center left;
            background-repeat: no-repeat;
            background-size: contain;
            font-weight: 700;
            color: $color_gray_800;
            line-height: ceil(($font_size_base * 3.5)); // 56px;
        }        

        // &-manager {
        //     color: $color_primary;
        // }

        // &-teacher {
        //     color: #FF4E7C;
        // }

        &__content {
            display: none;            
            overflow: auto;
            position: absolute;        
            //top: calc(32px + 56px + 36px); //header padding + icon height + icon padding
            //right: 206px;
            top: 65px;
            right: -6.25vw;
            padding: 18px 40px;
            border: 1px solid $color_gray_500;
            @include border-radius(16px);
            background: $color_white;
            transition: 0.3s;
            @include box-shadow(10px 10px 50px rgba(20, 20, 22, 0.1));
            z-index: 2;

            &--on {
                display: block;
            }
        }

        &__list {
            min-width: 258px;

            &:nth-of-type(n+2) {
                border-top: 2px solid #D9D9D9;
            }
        }

        &__item {
            padding: 11px 0;
            font-size: $font_size_h4;
            font-weight: 500;
            color: $color_gray_900;
            line-height: 1.45;

            &:first-of-type {
                padding: 22px 0 11px;
            }

            &:last-of-type {
                padding: 11px 0 22px;
            }
        }

        &__link {
            display: block;

            span {
                margin-left: 16px;
                color: $color_gray_600;
            }
        }
    }

    @at-root .gnb {
        &__area {
            height: 80px;
            border-bottom: 1px solid $color_gray_400;
        }

        &__list {
            @include display-flex;
            align-items: center;
            padding: 0 6.25vw; // 0 120px;
        }

        &__item {
            position: relative;
            margin: 0 27px;
            padding: 0 30px;
            cursor: pointer;

            &:first-of-type {
                padding-left: 0;
                margin-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
                margin-right: 0;
            }

            &--on {
                > .gnb {
                    &__link {
                        color: $color_primary;
                        border-bottom: 2px solid $color_primary;
                    }
                } 
            }
        }

        &__link {
            display: inline-block;
            height: 80px;
            font-size: $font_size_h4;
            font-weight: 700;
            line-height: ceil(($font_size_h4 * 4)); // 80px
        }

        &-sub {
            &__list {
                display: none;
                position: absolute;
                top: auto;
                left: 75%;
                min-width: 244px;
                border: 1px solid $color_gray_400;
                @include border-radius(8px);
                background: $color_white;
                @include transform(translateX(-50%));
                z-index: 1;
            }

            &__item {
                position: relative;
                padding: 24px 40px;                

                &:hover {
                    background: $color_gray_300;
                }

                &:nth-of-type(n+2) {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 196px;
                        height: 1px;
                        background: $color_gray_400;
                        @include transform(translateX(-50%));
                    }
                }
            }

            &__link {
                display: block;
                font-size: $font_size_h4;
                font-weight: 500;
                color: $color_gray_800;
                line-height: 1.45;
            }
        }
    }
}

@include pc_wide {
    .header { 
        &__inner {
            max-width: 1920px;
            margin: 0 auto;

        }
    }

    .gnb {
        max-width: 1920px;
        margin: 0 auto;
    }
}

@include tablet_l {
    .header {
        &__inner {
            padding: 32px 5% 26px;
        }
    }

    .gnb {
        &-sub {
            &__list {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__list {
            padding: 0 5%;
        }

        &__item {
            //padding: 0 20px;
            margin: 0 10px;

            // &:first-of-type {
            //     padding-left: 20px;
            //     margin-left: 10px;
            // }

            // &:last-of-type {
            //     padding-right: 20px;
            //     margin-right: 10px;
            // }
        }
    }

    .shortcut {
        &__content {
            right: -20px;
        }
    }
}

@include tablet_s {
    
}
