@import '_global';

$madal_font_size : $font_size_large;

.modal {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    &--on {
        overflow:hidden;
        padding-right:17px;
    }

    &--fade {
        @include transition(opacity .2s);
    
        &:not(.modal--showed) {
            opacity: 0;
        }
    }

    &--showed &__dialog {
        @include transform(none);
    }

    &__dialog {
        position: relative;
        width: 94%;
        max-width: 470px;
        margin: 2rem auto;
        @include transition(transform .25s ease-out);
        @include transform(translate(0, 30px));

        &.modal {
            &--scroll {
                height: calc(100% - 4rem);
        
                .modal {
                    &__content {
                        @include display-flex;
                        flex-direction: column;
                        overflow: hidden;
                        max-height: 100%;
                    }
        
                    &__body {
                        overflow-y: auto;
                    }
                }
            }
        
            &--center {
                min-height: calc(100% - 4rem);
        
                .modal__content {
                    position: absolute;
                    top: 50%;
                    left: 50%;  
                    width: 100%;
                    @include transform(translate(-50%, -50%));
                }
            }
        }
    }

    &__content {
        position: relative;
        padding: 24px;
        background: #fff;
        @include border-radius(16px);        
        backdrop-filter: blur(16px);
        @include box-shadow(0px 0px 14px -4px rgba(0, 0, 0, 0.05), 0px 32px 48px -8px rgba(0, 0, 0, 0.1));
        outline: none;
    }

    &__header {
        padding-bottom: 16px;
        border-bottom:1px solid $color_gray_400;

        &--close {
            // @include display-flex;
            // justify-content: space-between;
            // align-items: center;
            position: relative;

            .modal {
                &__title {
                    max-width: calc(100% - 30px);
                    text-align: left;
                }
            }
        }

        & + .modal__body {
            margin-top: 16px;
        }

        .modal {
            &__title {
                letter-spacing: -0.02em;
            }
        }
    }

    &--close {
        position: absolute;
        top: calc(50% - 8px);
        right: 0;
        width: 28px;
        height: 28px;
        text-indent: -9999px;
        @include transform(translateY(-50%));

        &:before, &:after {
            content:'';
            position: absolute;
            top: 50%; 
            right: 0;
            width: 28.2px; 
            height: 2.5px;
            margin-top: -1px;
            background: $color_gray_700;
            @include transform(rotate(45deg));
            @include transition(opacity .15s);
        }

        &:after {
            @include transform(rotate(-45deg));
        }

        &:hover::before, &:hover::after {
            background: darken($color_gray_800, 20%);
        }

        &.modal {
            &--floating {
                position: absolute;
                top: 0;
                right: 0;
                float: none;
                width: 2.5rem;
                height: 2.5rem;
                @include border-radius(50%);
                background: $color_primary;
                @include transform(translate(50%, -50%));
    
                &:before, &:after {
                    left: 0;
                    margin: auto;
                    background: $color_white;
                }
            }
        }
    }

    &__body {
        img {
            max-width:100%;
        }
    }

    &__title {
        font-size: $font_size_h4;
        font-weight: 700;
        color: $color_gray_900;
        text-align: center;
        line-height: 1.6;
    }

    &__sub-title {
        margin-top: 16px;
        font-size: $font_size_h2;
        color: $color_gray_900;
        line-height: 1.6;
        text-align: center;

        strong {
            font-weight: 700;
        }
    }

    &__txt {
        margin-top: 16px;
        font-size: $madal_font_size;
        color: $color_gray_900;
        text-align: center;
        line-height: 1.6;
    }    

    &__footer {
        margin-top: 36px;
        text-align: center;
    }

    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(0,0,0,.4);
        z-index: 990;
    }

    /* size layer popup */
    &--large {
        max-width: 700px;
        /*
        margin: auto;
        @include border-radius(1rem);
        background: rgba(#fff, .95);
        text-align: center;

        .modal__body {
            padding: 1.5rem 1.25rem 1rem;

            p {
                font-size: $font_size_base;
            }
        }
        */
    }

    &--small {
        max-width: 450px;
        /*
        margin: auto;
        @include border-radius(1rem);
        background: rgba(#fff, .95);
        text-align: center;

        .modal__body {
            padding: 1.5rem 1.25rem 1rem;

            p {
                font-size: $font_size_base;
            }
        }
        */
    }

    .btn {
        //min-width: 136px;
        &--full {
            .btn {
                display: block;
                width: 100%;
            }
        }     
        
        &--half {
            @include display-flex;
            justify-content: space-between;

            /*
            .btn {
                display: block;
                width: calc(50% - 8px);
            }
            */
        }

        &--center {
            justify-content: center;
        }
    }

    .input {
        &__label {
            font-size: $font_size_large;
            font-weight: 500;
            line-height: ceil(($font_size_large * 1.44));
        }
    }
}


/*
    #modal 개별 layout
*/

// #modal-schedule-register 스케줄 등록 popup
.schedule-register {
    &__content {
        position: relative;
        width: 100%;
        max-width: 362px;
        margin: 50px auto 0;
    }

    .modal {
        &__dialog {
            max-width: 533px;
        }
    }

    .input {
        &__field {
            justify-content: space-between;
            margin-bottom: 0;
        }

        &-message {
            width: 100%;
            margin-top: 16px;
            text-align: center;
        }
    }

    .select {
        margin-left: 12px;
    }

    .check {
        &__label {
            color: $color_gray_900;
            line-height: 1.6;

            &::before {
                width: 20px;
                height: 20px;
            }
        }
    }
}

// #modal-permission-change 학원관리자 권한 변경 검색 popup
.permission-change {
    &__content {
        text-align: center; 
        
        .error {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            padding: 0;
            background: inherit;
            font-size: $font_size_base;
        }
        
        .btn {
            margin-top: 36px;
        }
    }

    .input {
        &__field {
            margin-bottom: 16px;

            &:last-of-type {
                padding-top: 16px;
                border-top: 1px solid $color_gray_400;

                .input__label {
                    width: 80px;
                }
            }
            
            
            .input {
                &__title {
                    //width: 80px;
                    margin-right: 12px;
                }

                &__label {    
                    & + .input {
                        & + .btn {
                            flex: 0 0 auto;
                            margin-left: 8px;
                        }
                    }
                }
            }

            .btn {
                min-width: 95px;
            }
        }
    }

    .table {
        &__box {
            min-height: 312px;
            max-height: 320px;
            margin-top: 36px;
        }

        tr {
            &:hover {
                background: $color_gray_500;
            }
        }

        td {
            a {
                display: block;
            }
        }

        .on {
            background: $color_gray_500;
        }
    }
}

// #modal-attainment 지문별 성취율 상세 popup
.attainment {
    &__title {
        margin-bottom: 16px;
        font-size: $font_size_large;
        font-weight: 500;
        color: $color_gray_700;
        line-height: ceil(($font_size_base * 1.44));
    }

    .panel {   
        overflow: hidden;     
        text-align: center;

        &:nth-of-type(n+2) {
            margin-top: 8px;
        }

        &__bg-gray {
            padding: 9px 0;
        }
    }

    .question {
        &-score {
            color: $color_primary;
        }

        &__title {
            display: block;
            font-weight: 500;
            color: $color_gray_600;
            line-height: 1.5;
        }

        &__content {
            font-size: $font_size_h4;
            font-weight: 500;
            color: $color_gray_900;
            line-height: 1.45;
        }

        &__list {
            @include display-flex;
            align-items: center;
        }

        &__item {
            flex-grow: 1;
        }
    }
}

// #modal-learning-time 학습시간 상세 popup
.learning-time {
    &__content {
        @include display-flex;
        justify-content: space-between;
        text-align: center;
    }

    &__title {
        padding: 12px 0 11px;
        font-size: $font_size_h4;
        font-weight: 700;
        color: $color_gray_900;
        line-height: 1.45;
    }

    &__txt {
        padding: 22px 0;
        font-size: $font_size_h4;
        font-weight: 500;
        color: $color_primary;
        line-height: 1.45;
    }

    .panel {
        overflow: hidden;
        width: calc(50% - 4px);
    }

    .recommend {
        display: block;
        font-size: $font_size_large;
        font-weight: 500;
        color: $color_gray_600;
        line-height: ceil(($font_size_large * 1.44));
    }
}

// #modal-calendar 미니 모달캘린더
.modal-calendar {
    .modal {
        &__dialog {
            max-width: 400px;
        }

        &__header {
            padding: 4px 0 20px;
            border-bottom: 1px solid #EFEFEF;

            &--close {
                .modal {
                    &__title {
                        max-width: 100%;
                        font-size: $font_size_base;
                        text-align: center;
                        line-height: 1.5;
                        letter-spacing: 0;
                    }
                }
            }
        }        

        &--close {
            top: calc(50% - 10px);
            width: 28px;
            height: 28px;

            &:before, &:after {
                right: -5px;
                width: 36.55px;
                height: 3.05px;
                background: $color_gray_700;
            }
        }
    }

    .date {
        &__list {
            margin: 20px 4px 0;
        }
    }

    .calendar {
        margin: 17px calc(38px - 24px) calc(32px - 24px);

        &-focus {            
            background: $color_primary;
            color: $color_white;

            &:hover {
                background: $color_gray_300;
                color: $color_gray_900;
            }
        }
    }

    .table {
        th, td {
            display: inline-block;
            padding: 6px;
            width: 36px;
            @include border-radius(8px);
            font-size: $font_size_base;
            line-height: 24px;
            
            &:nth-of-type(n+2) {
                margin-left: 8px;
            }
        }

        tr {            
            display: inline-block;
            
            &:nth-of-type(n+2) {
                margin-top: 4px;
            }
        }

        th {            
            font-weight: 500;
            color: $color_gray_600;
        }
        
        td {
            font-weight: 600;
            cursor: pointer;

            &:hover {
                background: $color_gray_300;
            }
        }

        tbody {
            > tr:hover {
                background: none;
            }
        }
    }
}