@import '_global';

.schedule{
    &-management {
        .panel {
            padding: 48px 67px 35px;
        }

        .date {
            &__list {
                margin: 0 auto 54px;
                width: 372px;
            }
        }

        .management {
            &__content {
                @include display-flex;
                justify-content: space-between;

                .panel {
                    width: calc((100% - 5.42vw)/ 3);
                    padding: 22px 16px 27px;
                    @include border-radius(16px);
                }
            }

            &__title {
                padding-bottom: 22px;
                border-bottom: 1px solid $color_gray_400;
                font-size: $font_size_h2;
                font-weight: 700;
                color: $color_gray_800;
                text-align: center;
                line-height: ceil(($font_size_h2 * 1.45));
            }

            &__list {
                overflow-y: auto;
                min-height: 195px;
                max-height: 455px;
            }

            &__btn {
                position: relative;
                width: 100%;
                padding: 22px 40px 20px 22px;
                font-weight: 500;
                text-align: left;
                line-height: ceil(($font_size_base * 1.43));

                &:hover {
                    background: $color_gray_300;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 16px;
                    width: 24px;
                    height: 24px;
                    background: url('/assets/images/ico_chevron_next.svg') no-repeat center/ contain;
                    @include transform(translateY(-50%));
                }
            }
        }
    }
}

@include pc_size_s { 
    .schedule {
        &-management {
            .management {
                &__content {
                    flex-wrap: wrap;

                    .panel {
                        width: calc((100% - 5.42vw)/ 2);

                        &:nth-of-type(n+3) {
                            margin-top: 2.5vw;
                        }
                    }
                }
                
                &__list {
                    max-height: 260px;
                }
            }
        }
    }
}