<div class="header__inner">
    <h1 class="logo"><a href="/">솔루니 독해트레이닝</a></h1>
    <div class="header__content">
        <div class="dropdown">
            <div class="dropdown__content">
                <p class="dropdown__select">
                    <span class="dropdown__title">청담어학원</span>
                    <span class="dropdown__arrow">
                        <img src="/lms/assets/images/ico_dropdown_chevron.svg" alt="dropdown arrow">
                    </span>
                </p>
                <ul class="dropdown__list">
                    <li class="dropdown__item" data-value="청담어학원">청담어학원</li>
                    <li class="dropdown__item" data-value="A수학학원">A수학학원</li>
                    <li class="dropdown__item" data-value="B수학학원">B수학학원</li>
                    <li class="dropdown__item" data-value="청담어학원">청담어학원</li>
                    <li class="dropdown__item" data-value="A수학학원">A수학학원</li>
                    <li class="dropdown__item" data-value="청담어학원">청담어학원</li>
                    <li class="dropdown__item" data-value="청담어학원">청담어학원</li>
                    <li class="dropdown__item" data-value="A수학학원">A수학학원</li>
                    <li class="dropdown__item" data-value="B수학학원">B수학학원</li>
                </ul>
                <input class="dropdown__input" type="text">
            </div>
        </div>
        <div class="shortcut">        
            <button type="button" class="shortcut__btn">학원관리자</button>
            <div class="shortcut__content">
                <ul class="shortcut__list">
                    <li class="shortcut__item"><a href="#" class="shortcut__link">마이페이지</a></li>
                    <li class="shortcut__item"><a href="#" class="shortcut__link">권한 변경<span>(선생님 > 관리자)</span></a></li>
                </ul>
                <ul class="shortcut__list">
                    <li class="shortcut__item"><a href="#" class="shortcut__link">공지사항</a></li>
                    <li class="shortcut__item"><a href="#" class="shortcut__link">FAQ</a></li>
                    <li class="shortcut__item"><a href="#" class="shortcut__link">1:1 문의</a></li>
                </ul>
            </div>       
        </div>
    </div>
</div>
<nav class="gnb">    
    <ul class="gnb__list">
        <li class="gnb__item gnb__item--on"><a href="#" class="gnb__link">홈</a></li>
        <li class="gnb__item"><a href="#" class="gnb__link">학습관리</a></li>
        <li class="gnb__item"><a href="#" class="gnb__link">진단평가</a></li>
        <li class="gnb__item"><a href="#" class="gnb__link">학생관리</a></li>
        <li class="gnb__item gnb-sub">
            <span class="gnb__link">학원관리</span>
            <ul class="gnb-sub__list">
                <li class="gnb-sub__item"><a href="#" class="gnb-sub__link">선생님 현황</a></li>
                <li class="gnb-sub__item"><a href="#" class="gnb-sub__link">학원정보 상세/수정</a></li>
            </ul>
        </li>        
    </ul>
</nav>